.profile-create-btn {
  background-color: #f2ac2a;
  margin-bottom: 0px;
  border: solid 3px white;
}

.createdProfiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-container h4 {
  margin-top: 10px;
  margin-bottom: 40px;
  color: white;
  font-family: "Lilita One", cursive;
  font-size: 1.2em;
  z-index: 1;
}

.animation20 {
  width: 300px;
  opacity: 70%;
}

/* .createdProfiles {
  margin: 100px;
}
    margin-top: 10px;
    margin-bottom: 40px;
    color: white;
    font-family: 'Lilita One', sans-serif;
    font-size: 1.2em;
} */
