#profile-icon {
  width: 100px;
  height: auto;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-create-btn {
  margin: 20px 0;
}
