.Home {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.Hero {
    display: flex;
    align-items: center;
    gap: 50px;
    width: 70%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.Hero h1 {
    color: white;
}

.fadeIn {
 transform: translate3d(0, 20px, 0);
 transition: 0.25s all ease-in-out;
}

.fadeIn:hover {
	opacity: 1;
  transform: translate3d(0, 0, 0);
}

.Hero img {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.455);
    border-radius: 1%;
    max-width: 500px;
}

.Card{
    width: 100%;
    background-color: #F2AC2A;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 30px;
}

.Card h2 {
    color: white;
}

.signUpHomeButton {
    background-color: #F2AC2A;
}

.pythonCard{
    background-color: #F15757;
    color: #fff;
    padding: 2em;
    border-radius: 4px;
    margin-bottom: 2em;
    width: 400px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,.1);
}

.pythonCard h5 {
    margin-top: 0;
    margin-bottom: 1em;
    color: white;
}

.pythonCard img {
    width: 50%;
    margin: 20px;
}
.playGamesCard{
    background-color: #EFE8E2;
    color: #fff;
    padding: 2em;
    border-radius: 4px;
    margin-bottom: 2em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    margin-top: 2em;
}

.pinkH2 {
    color: #F15757;
}

.cardTextFloatRight{
    text-align: right;
}

.playGamesCard button {
    background-color: #F15757;
    color: #fff;
    padding: 1em 2em;
    border-radius: 4px;
    border: none;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    transition: all .1s ease;
    margin-top: 1em;
    float: right;
    margin-right: 20px;
}

@media (max-width: 1030px) {
    .Hero {
        flex-direction: column;
    }
}