.Home {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 135px;
}

.Hero {
    display: flex;
    align-items: center;
    gap: 50px;
    width: 70%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.Hero h1 {
    color: white;
}

.fadeIn {
 transform: translate3d(0, 20px, 0);
 transition: 0.25s all ease-in-out;
}

.fadeIn:hover {
	opacity: 1;
  transform: translate3d(0, 0, 0);
}

.Hero img {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.455);
    border-radius: 1%;
    max-width: 500px;
}

.Card{
    width: 100%;
    background-color: #F2AC2A;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
}

.Card h2 {
    color: white;
}

.cardContent {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.signUpHomeButton {
    background-color: #F2AC2A;
    width: 400px;
    margin-top: 60px;
}

.hero-text-and-btn {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.robot-signup h2 {
    font-size: 2.4em;
    width: 400px;
}

.redText {
    color: #e46b6b;
    font-family: 'Lilita One', sans-serif;
}

.floating h2 {
    font-size: 2.4em;
}

.pythonCard{
    background-color: #F15757;
    color: #fff;
    padding: 2em;
    border-radius: 4px;
    margin-bottom: 2em;
    width: 400px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pythonCard h3 {
    font-family: Lilita One, sans-serif;
    font-size: 2em;
}

.pythonCard h5 {
    margin-top: 0;
    margin-bottom: 1em;
    color: white;
}

.pythonCard img {
    width: 50%;
    margin: 20px;
}
.playGamesCard{
    background-color: #EFE8E2;
    color: #fff;
    padding: 2em;
    border-radius: 4px;
    margin-bottom: 2em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    margin-top: 2em;
    width: 100%;
    position: relative;
}

.pinkH2 {
    color: #F15757;
    font-size: 2em;
}

.cardTextFloatRight{
    margin-top: 200px;
    text-align: right;
    margin-right: 20%;
}

.playGamesCard button {
    background-color: #F15757;
    color: #fff;
    padding: 1em 2em;
    border-radius: 4px;
    border: none;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    transition: all .1s ease;
    margin-top: 1em;
    float: right;
    margin-right: 20px;
}

.robot-signup {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#floating-robot {
    width: 600px;
    margin-right: 20px;
}

.custom-shape-divider-top-1690233543 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1690233543 svg {
    position: relative;
    display: block;
    width: 200%;
    height: 150px;
}

.custom-shape-divider-top-1690233543 .shape-fill {
    fill: #8D6FDA;
}

@media (max-width: 1030px) {
    .Hero {
        flex-direction: column;
    }
}

.testSection{
    width: 100%;
    background-color: #ffffff;
    position: relative;
}

.testSectionButtons {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 30px;
}

.testSection button {
    background-color: #F2AC2A;
    color: #fff;
    padding: 1em 2em;
    border-radius: 4px;
    border: none;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    transition: all .1s ease;
    margin-top: 1em;
    margin-right: 20px;
}

.testSection h3 {
    color: black;
    font-size: 1.5em;
}


.custom-shape-divider-top-1690235926 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1690235926 svg {
    position: relative;
    display: block;
    width: 200%;
    height: 232px;
}

.custom-shape-divider-top-1690235926 .shape-fill {
    fill: #FFFFFF;
}

.testCard{
    width: 100%;
    background-color: #F2AC2A;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
}

.testCard h2 {
    margin-top: 200px;
}

.codingGirlAnimation.floating{
    width: 200px;
}

/* Home.css */

/* Keyframes for the wavy animation */
@keyframes wavyAnimation {
    0% {
      transform: translateX(0) translateZ(0) scaleY(1);
    }
    50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.55);
    }
    100% {
      transform: translateX(-50%) translateZ(0) scaleY(1);
    }
  }
  
  /* Apply the animation to the custom shape dividers */
  .custom-shape-divider-top-1690233543 path.shape-fill,
  .custom-shape-divider-top-1690235926 path.shape-fill {
    animation: wavyAnimation 20s linear infinite;
  }

  .floating{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .animation21 {
    width: 30%;
  }
