.Curriculum {
    align-items: center;
}

.curriculumCard {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #ccc;
    border-radius: 5px;
    background-color: #fff;
    height: 100%;
}

.curriculumCardText {
    font-size: 1.2em;
    font-weight: 600;
    margin: 30px;
    text-align: left;
    max-width: 800px;

}

.curriculumCardCode {
    width: 300px;
    height: 300px;
    background-color: #ccc;
    float: right;
    margin-left: 10px;
}

.curriculumCardButtonCard {
    display: flex;
    justify-content: center;
}

.curriculumCardButton {
    margin: 10px;
    background-color: white;
    color: rgb(0, 0, 0);
    font-size: 1rem;
}