.results {
  margin-bottom: 200px;
}

.results-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: #6c6c6c 3px 1px;
}

.results-content h1, h2 {
  z-index: 1;
}

.results-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.results-buttons button {
  background-color: #f2ac2a;
  margin: 20px;
}

li {
  list-style-type: none;
}

#results-name {
  font-family: "Lilita One", sans-serif;
  color: #f2ac2a;
}

#resourceLinks {
  background-color: #f15757;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

#resourceLinks ul li a {
  color: white;
  text-decoration: underline;
  /* background-color: #00c98e; */
  
}

li a:hover {
  color: #00c98e;
}

.resourceLink {
  text-decoration: underline;
  font-weight: 600;
  font-size: .8em;
}

.animation18 {
  opacity: 80%;
}
