.Register, .Register .card {
    display: flex;
    align-items: center;
}

.Register {
    min-height: calc(100vh - var(--navbar-height));
    height: 100%;
    max-height: calc(100vh - var(--navbar-height));
    width: 100%;
    max-width: 100vw;

    justify-content: center;
}

a, div, h1, h2, h3, h4, h5, h6, ol, p, span, ul {
    margin: 0;
    font-family: "Kanit",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    color: var(--font-dark);
}

* {
    box-sizing: border-box;
}

.Register .card {
    min-height: 600px;
    width: 520px;
    padding: 24px 36px 0;
    flex-direction: column;
}

.Register, .Register .card {
    display: flex;
    align-items: center;
}

.Register .card h2 {
    font-size: 42px;
    margin-bottom: 4px;
    font-weight: 600;
    color: black;
}

h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.Register .card a {
    color: #51b97c;
}

.Register .card .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 10px;
    color: var(--pure-white);
}

.input-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
}

.Register .card .form .input-field input {
    height: 60px;
    padding: 0 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 100%;
    background: transparent;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.182);
  }
  
  input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    margin: 0em;
  }