.profile-card-content {
  margin: 30px;
  font-size: 2em;
  background-color: #48df87;
  border-radius: 10%;
  border: solid 6px white;
}

.profile-card-content:hover {
  background-color: #f2de6c;
  box-shadow: 10px 30px 50px rgba(0, 0, 0, 0.282);
  transition: 0.3s;
}

.profile-img img {
width: 180px;
height: 180px;
margin: 20px;
}
