.Footer {
    background-color: #F15757;
    box-shadow: 0 0 10px #000000;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    font-size: 12px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
}

.Footer h3 {
    color: #ddd;
}