.Finished {
    align-items: center;
    height: 850px;
    display: flex;
    justify-content: center;
}

.Finished h1 {
    color: white;
}

.Finished button {
    margin: auto;
}

.finishedContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animation23 {
    width: 500px;
}