.Quiz {
    height: 850px;
}

.quizCard {
    width: 90%;
    padding: 30px 0px;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.282);
    background-color: #45BE91;
}


.quizContent {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.question {
    display: flex;
    align-items: center;
    text-align: center;
}

.answerRectangle {
    height: 50px;
    width: 100px;
    background-color: #b1b1b183;
    border: solid .5px black;
    border-radius: 5px;
    margin-left: 5px;
}

.questionRectangle {
    width: 40px;
    height: 100px;
    background-color: #16161683;
    border: solid .5px black;
    border-radius: 5px;
    margin-left: 5px;
}

.horizontalAnswers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.verticalAnswers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.horizontalAnswers button, .verticalAnswers button {
    margin: 10px;
    display: flex;
}

.verticalAnswers button h5 {
    color: white;
}

.questionRectangle pre code {
    color: white;
}

#options-list .option{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 1.2em, 2em;
    font-size: 1em;
    font-weight: 600;
    font-family: inherit;
    background-color: #1a1a1a;
    color: white;
    cursor: pointer;
    transition: border-color 0.25s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.282);
}

#options-list .option:hover{
    background-color: #F2AC2A;
}

#blank {
    border-radius: 8px;
    border: 2px solid white;
}

.second-question-type .question-2{
    color: white;
    font-weight: 700;
}

.second-question-type #message{
    color: #F2AC2A;
}